@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --primary: #333;
  --error: #eb0c0c;
  --dark: #2563eb;
  /* --dark: #1F2937; */
  --hrefa: #2563EB;
}

body {
  background-image: url('../public/login-bg-3.jpg');
  /* background-color: #f1f1f1; */
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #333;
}

header {
  /* background-color: #d4d4d4; */
  /* background-color: #547a85; */
  background: linear-gradient(65deg, rgb(89 116 128), rgb(194 197 186));
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .logo-container {
  color: #E0E0E0;
}

header .logo-container a {
  color: #E0E0E0;
  text-decoration: none;
}

header .login-content-wrapper {
  display: flex;
}

header .login-content-wrapper a {
  color: #E0E0E0;
  margin: 10px;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

header .login-content-wrapper a :link,
header .login-content-wrapper a:visited {
  color: #E0E0E0;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 0px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.4s ease-in;
}

header .login-content-wrapper a:hover,
header .login-content-wrapper a:active {
  border-bottom: 2px solid #938c8c;
}

/***** SignUp Page *****/
.new-register-container {
  width: 50%;
  margin: 0 auto;
  background: linear-gradient(27deg, #c6ffc8, #2196F3);
  height: 100%;
  border-radius: 15px;
}

.new-register-container .container {
  margin-top: 6rem;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 50px rgb(160 158 158);
  border: 1px solid #333;
}

.new-register-container .container .signup-name {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #4F46E5;
}

.new-register-container .container p {
  text-align: center;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
}

.new-register-container .container .login-wrapper-container {
  display: flex;
  justify-content: space-between;
}

.new-register-container .container .left-sign-wrapper {
  width: 30%;

}

.new-register-container .container .left-sign-wrapper img {
  width: 250px;
  height: auto;
}

.new-register-container .container .singup-wrapper {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
}

.new-register-container .container .singup-wrapper .form-content-wrapper {
  padding: 10px;
  margin: 10px;
}

.new-register-container .container .singup-wrapper .form-content-wrapper input {
  padding: 15px;
  width: 70%;
  border-radius: 5px;
  border: 1px solid #333;
}

.new-register-container .container .singup-wrapper .signup-btn-wrapper {
  /* text-align: center; */
}

.btn {
  padding: 1em 3em;
  margin: 10px;
  background-color: var(--dark);
  color: #fff;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #0d17e1;
  cursor: pointer;
  font-size: 18px;
}

.invite-btn {
  padding: 10px;
  margin: 5px;
  background-color: #1F2937;
  color: #fff;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #1F2937;
  cursor: pointer;
  font-size: 16px;
}

.new-register-container .container .singup-wrapper select {
  padding: 10px;
  margin: 20px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #333;
  font-size: 18px;
  width: 50%;
}

/***** Dashboard CSS *****/
.dashboard-panel-wrapper {
  width: 80%;
  margin: 0 auto;
}

.dashboard-panel-wrapper .card-section,
.dashboard-panel-wrapper .staff-section {
  margin: 4em 0;
}

.dashboard-panel-wrapper .card-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.dashboard-panel-wrapper .container .gr {
  background-color: rgb(0, 103, 79);
}

.dashboard-panel-wrapper .container .vo {
  background-color: rgb(106, 13, 173);
}

.dashboard-panel-wrapper .container .yl {
  background-color: rgb(239, 191, 4);
}

.dashboard-panel-wrapper .container .br {
  background-color: rgb(178, 34, 34);
}

.dashboard-panel-wrapper .container .dashboard-panel {
  margin: 25px;
  padding: 15px;
  border: 1px solid #4e4e4e;
  border-radius: 10px;
  box-shadow: 0 0 50px rgb(195 194 194);
  width: 100%;
  height: 200px;
  color: #fff;
}

.dashboard-panel-wrapper .container .dashboard-panel .total-content-wrapper,
.dashboard-panel-wrapper .container .dashboard-panel .total-content {
  margin: 25px;
}

.dashboard-panel-wrapper .container .dashboard-panel p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  font-size: 18px;
}

.dashboard-panel-wrapper .container .dashboard-panel h2 {
  /* color: #828282; */
  margin: 0;
  padding: 0;
  word-spacing: 2px;
}

.dashboard-panel-wrapper .staff-section {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  align-items: center;
}

.dashboard-panel-wrapper .staff-section .visitor-search-section {
  /* width: 70%; */
  background: #eee;
  padding: 16px;
  border-radius: 8px;
}

.visitor-search-bar {
  margin-bottom: 12px;
  text-align: left;
}

.visitor-search-bar input {
  width: 40%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Layout */
.visitor-content {
  display: flex;
  gap: 5px;
}

/* Filters */
.visitor-filters {
  width: 120px;
  border-right: 1px solid #afa1a1;
  padding-right: 5px;
}

.visitor-filters h4 {
  margin-bottom: 10px;
}

.visitor-filters label {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 14px;
}

/* Table */
.visitor-table-wrapper {
  flex: 1;
  overflow-x: auto;
}

.visitor-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.visitor-table th,
.visitor-table td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.visitor-table th {
  background: #f9fafb;
  font-weight: 600;
}

.no-data {
  text-align: center;
  padding: 20px;
  color: #999;
}

.dashboard-panel-wrapper .staff-section .container {
  border: 1px solid #333;
  background-color: transparent;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

.dashboard-panel-wrapper .staff-section .container .staff-panel-container {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  align-items: center;
}

.dashboard-panel-wrapper .staff-section .container .staff-panel-container .staff-panel-content {
  text-align: center;
}

.dashboard-panel-wrapper .staff-section .container .staff-panel-container .staff-panel-content img {
  border: 5px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

div .error {
  padding: 10px;
  background-color: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;

}

nav button {
  background-color: var(--dark);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid var(--dark);
}

.dashboard-header h2 {
  color: #0b7535;
  margin: 0;
  padding: 0;
}

.dashboard-header .user-meta {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #E0E0E0;
  margin-bottom: 10px;
}

.dashboard-header .user-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.dashboard-header .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard-header .user-role {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}

.user-email {
  font-size: 14px;
}

/* .dashboard-header .user-meta {
  display: inline-block;
  color: var(--dark);
}

.dashboard-header .user-meta span {
  display: flex;
  align-items: center;
}

.dashboard-header .user-meta span img {
  width: 50px;
  height: auto;
  margin-right: 10px;
} */

/**** VISITOR CSS ****/
.create-visitor-wrapper {
  width: 70%;
  margin: 0 auto;
}

.create-visitor-wrapper section {
  padding: 15px;
  background: linear-gradient(27deg, #c6ffc8, #2196F3);
  border-radius: 10px;
  box-shadow: 0 0 50px rgb(36 112 153);
}

.create-visitor-wrapper section .container {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.create-visitor-wrapper section .container h1 {
  color: #4F46E5;
}

.form-content-wrapper {
  padding: 10px;
  margin: 10px;
}

.form-content-wrapper input,
.form-content-wrapper textarea {
  padding: 15px;
  width: 50%;
  border-radius: 5px;
  border: 1px solid #333;
}

.form-label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
}

.check-link-section,
.host-link-section {
  display: flex;
  justify-content: center;
}

.dashboard-panel-wrapper h1 {
  text-align: center;
  color: #4F46E5;
  font-weight: 400;
}

.visitor-table,
.view-appointments-table,
.view-visitor-approved-table {
  width: 100%;
  table-layout: auto;
  border: 1px solid #333;
  text-align: center;
}

.visitor-table tbody tr td,
.view-appointments-table tbody tr td,
.view-visitor-approved-table tbody tr td {
  border: 1px solid #333;
}

.visitor-table thead tr th,
.view-appointments-table thead tr th,
.view-visitor-approved-table thead tr th {
  padding: 15px;
  background-color: #7e79ee;
  margin: 0;
  color: #fff;
  border: 1px solid #7e79ee;
}

.create-appointment-content {
  display: flex;
  justify-content: left;
  align-items: center;
}

.create-appointment-content h2 {
  color: #151b89;
  margin-left: 5px;
}

.create-appointment-content p {
  font-weight: 600;
}

.view-appointments-table .reject-btn {
  background-color: #df0b0b;
  border: 1px solid #df0b0b;
  padding: 10px;
  margin: 5px;
  color: #fff;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.view-appointments-table .approved-btn,
.view-visitor-approved-table .check-in-btn {
  background-color: #0ebd0e;
  border: 1px solid #0ebd0e;
  padding: 10px;
  margin: 5px;
  color: #fff;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.view-visitor-approved-table .check-out-btn {
  background-color: #db1313;
  border: 1px solid #db1313;
  padding: 10px;
  margin: 5px;
  color: #fff;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.view-all-appointments-wrapper,
.security-visitor-section {
  margin-bottom: 30px;
}

.center {
  text-align: center;
  font-weight: 600;
}

.checkinopen-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.checkinopen-section .checkinopen-wrapper {
  background: #fff;
  width: 420px;
  max-width: 90%;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  animation: modalFade 0.3s ease-in-out;
}

.checkinopen-section .checkinopen-wrapper .checkinopen-title {
  margin-bottom: 15px;
  text-align: center;
}

.checkinopen-btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
}

.btn-cancel {
  background: #ccc;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-submit {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-submit:hover {
  background: #0056b3;
}

@keyframes modalFade {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.security-checkout-logs-section {
  display: flex;
  justify-content: space-around;
  background-color: #dedada;
  margin-top: 30px;
  border-radius: 15px;
  padding: 15px;
}

/* .qr-reader-box {
  position: relative;
  width: 100%;
  max-width: 320px;
  height: 320px;
  margin: 15px auto 20px;
  border-radius: 16px;
  background: #000;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
} */

.checkinopen-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.security-checkout-logs-section .visitors-in-wrapper {
  border: 1px solid #000;
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 5px;
  color: #fff;
}

.security-checkout-logs-section .visitors-in-wrapper h4 {
  padding: 0;
  margin: 0;
  color: #d7c21c;
}

.security-checkout-logs-section .left-rejected-visitor-wrapper {
  background-color: #000066;
}

.security-checkout-logs-section .center-checklog-wrapper {
  background-color: #00661f;
}

.security-checkout-logs-section .right-rejected-visitor-wrapper {
  background-color: #664e00;
}

/* fixed inset-0 bg-blue-400 bg-opacity-50 flex justify-center items-center z-50 */
/* bg-white w-full max-w-lg rounded-lg shadow-xl p-6 */

.success-message {
  background-color: #e6fffa;
  color: #065f46;
  border: 1px solid #34d399;
  padding: 10px 14px;
  margin-bottom: 12px;
  border-radius: 6px;
  font-size: 14px;
}

.visitor-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.visitor-popup {
  background: #fff;
  padding: 20px;
  width: 450px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  animation: fadeIn 0.3s ease;
}

.popup-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.popup-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
